
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html{
  font-family: 'Poppins';
}
body{
  background-color: rgb(240,241,247);
}
#root{
  border-radius: 10px;
  background-color: white;
}

.info-wrapper{
  margin: 20px 0px 0px 20px; 
  display: inline-block;
  justify-content: baseline;
  align-items: center;
  width: 200px;
}

.name-mavitik{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

p{
  font-size: 1.7em;
}
.senior-p{
  font-size: 1em;
  margin-top: 0;
}

svg{
  width: 25px;
  height: 25px;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

ul{
  width: 100%;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
il{
  border-radius: 10px;
  padding: 6px 8px 6px;
  background-color: rgb(42,207,207);
  color: white;
  margin: 8px 16px 8px 0px;
  font-size: 1.3em;
  min-width: 100px;
  text-align: center;
}


.skills-list-div{
  display: inline-block;
}

.skills-wrapper{
  margin-left: 20px;
}

.skills-wrapper p{
  font-size: 1.5em;
}

.date-wrapper{
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 20px;
}
.year-wrapper{
  margin-left: 10px;
  font-size: 1.2em;
}
.icon-wrapper svg{
  width: 15px;
  margin-top: 6px;
}
