
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(240,241,247);;
    font-family: 'Poppins';
}
.app{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.person-wrapper{
    margin: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.person-wrapper h2{
    margin:10px auto ;
    text-align: center;
}
.person-wrapper p{
    text-align: center;
}
img{
    width: 230px;
    border-radius: 50%;
    margin: 10px;
}

.skill-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
}
.skill-text{
    margin-left: 40px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

li{
    text-decoration: none;
    margin: 20px;
    background-color: rgb(20,210,250);
    padding: 15px;
    border-radius: 12px;
    list-style-type: none;
    color: white;
    font-weight: 600;
}

.date-wrapper{
    position: relative;
    left: 5px;
    bottom: 0px;
}

@media only screen and (max-width:900px){ 
    
    .skill-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .person-wrapper{
        width: 100%;
        margin:20px auto;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .img-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .app{
        display: inline-block;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
    }
    .date-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}