
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
li{
    cursor: pointer;
    padding: 8px;
    margin: 5px;
    list-style-type: none;
    border: 2px solid rgb(236, 154, 2);
    border-radius: 10px 0 10px 0;
    background-color: white;
}
li:hover{
    color: white;
    border-color: white;
    background-color: rgb(250, 89, 25);
    transition: background-color .3s ease, border-color .3s ease;
}