.card-wrapper{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    img{
        border-radius: 10px 10px;
    }
    .cardInfo {
        position: absolute;
        top: 300px;
        z-index: 12;
        background-color: #fff;
        width: 300px;
        border-radius: 0 0 10px 10px;
        h2{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 300px;
            background-color: transparent;
            color: aliceblue;
            -webkit-text-stroke: 1px #000;
        }
        p.baslik{
            margin: 5px;
            margin-bottom: 0px;
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: underline;
        }
        p.bilgi{
           
            margin: 0px auto 10px;
        }
    }
}







